In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
# patient list

patient_df = pd.read_excel('/Users/yena/Desktop/SCH/척척석사/EMR related/낙상데이터/천안/(천안병원)간호간병통합병동 낙상대상자 리스트(2017-2021.10).xlsx', index_col =0)
patient_list = patient_df['등록번호'].astype(str).unique()  # 등록번호 unique -> 228명 확인
fall_date = patient_df[['등록번호', '낙상발생일시']]

duration=[]

for i in fall_date['낙상발생일시'].tolist():
    i = str(i)
    i = i.split(' ')[0]
    duration.append(i)

fall_date['낙상발생일시'] = duration

In [3]:
fall = pd.read_excel('/Users/yena/Desktop/SCH/척척석사/EMR related/낙상데이터/천안/(비식별화)낙상_17_21.xlsx')
len(fall['등록번호'].unique())

25744

In [4]:
fall = fall[fall['등록번호'].astype(str).isin(set(patient_list))]
len(fall['등록번호'].unique())

72

In [5]:
import datetime

def str_to_dt(x):
    x = str(x)
    d = int(x[0:4])
    y = int(x[4:6])
    z = int(x[6:8])
    # hours = int(x[8:10])
    # mins = int(x[10:12])
    # secs = int(x[12:])
    # str_data = (d+','+y+','+z+','+hours+','+mins+','+secs)
    new_time = datetime.datetime(d,y,z)
    new_time_no = new_time.replace(microsecond = 0)
    
    return new_time_no

In [6]:
fall = fall[['등록번호', '도구명', '평가일자', '상세내역명']]


fall = fall.merge(fall_date, on= ['등록번호'])
fall['평가일자'] = fall['평가일자'].apply(str_to_dt)
print(len(fall['등록번호'].unique()))
fall.head(2)

72

     등록번호      도구명       평가일자                  상세내역명      낙상발생일시
0  432783  의식/정신상태 2017-10-11  자신의 기능 수준에 대해 잘 알고 있음  2018-06-13
1  432783  걸음걸이/이동 2017-10-11             정상/침상안정/부동  2018-06-13

In [7]:
fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8232 entries, 0 to 8231
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록번호    8232 non-null   object
 1   도구명     8232 non-null   object
 2   평가일자    8232 non-null   datetime64[ns]
 3   상세내역명   8232 non-null   object
 4   낙상발생일시  8232 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 385.9+ KB

In [8]:
def dash_remove(x):
    x = x.replace('-','')
    return x

fall['낙상발생일시'] = fall['낙상발생일시'].apply(dash_remove)
fall['낙상발생일시'] = fall['낙상발생일시'].apply(str_to_dt)
fall

,등록번호,도구명,평가일자,상세내역명,낙상발생일시
0,432783,의식/정신상태,2017-10-11,자신의 기능 수준에 대해 잘 알고 있음,2018-06-13
1,432783,걸음걸이/이동,2017-10-11,정상/침상안정/부동,2018-06-13
2,432783,정맥수액요법/헤파린록(heparin lock),2017-10-11,있음,2018-06-13
3,432783,보행보조,2017-10-11,보행 불가능(침상안정) 또는 보조기구 없이 보행 가능함,2018-06-13
4,432783,이차 진단 (부진단),2017-10-11,있음,2018-06-13
...,...,...,...,...,...
8227,1686972,이차 진단 (부진단),2021-06-20,있음,2021-05-31
8228,1686972,보행보조,2021-06-20,보행 불가능(침상안정) 또는 보조기구 없이 보행 가능함,2021-05-31
8229,1686972,정맥수액요법/헤파린록(heparin lock),2021-06-20,있음,2021-05-31
8230,1686972,걸음걸이/이동,2021-06-20,허약함,2021-05-31
8231,1686972,의식/정신상태,2021-06-20,자신의 기능수준을 과대평가하거나 잊어버림,2021-05-31

In [9]:
fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8232 entries, 0 to 8231
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록번호    8232 non-null   object
 1   도구명     8232 non-null   object
 2   평가일자    8232 non-null   datetime64[ns]
 3   상세내역명   8232 non-null   object
 4   낙상발생일시  8232 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 385.9+ KB

In [10]:
fall['days'] = fall['낙상발생일시']-fall['평가일자']
print(len(fall['등록번호'].unique()))
cond = ['0 days', '1 days', '2 days', '3 days']
fall = fall[fall['days'].isin(set(cond))]
print(len(fall['등록번호'].unique()))

72
60

In [11]:
fall

,등록번호,도구명,평가일자,상세내역명,낙상발생일시,days
119,432783,이차 진단 (부진단),2018-06-10,있음,2018-06-13,3 days
120,432783,지난 3개월간 낙상 경험,2018-06-10,없음,2018-06-13,3 days
121,432783,평가기준,2018-06-10,주1회,2018-06-13,3 days
122,432783,보행보조,2018-06-10,보행 불가능(침상안정) 또는 보조기구 없이 보행 가능함,2018-06-13,3 days
123,432783,의식/정신상태,2018-06-10,자신의 기능 수준에 대해 잘 알고 있음,2018-06-13,3 days
...,...,...,...,...,...,...
8206,1686972,이차 진단 (부진단),2021-05-31,있음,2021-05-31,0 days
8207,1686972,보행보조,2021-05-31,목발/지팡이/보행기 등 보조기구 사용하여 혼자 보행 가능함,2021-05-31,0 days
8208,1686972,의식/정신상태,2021-05-31,자신의 기능수준을 과대평가하거나 잊어버림,2021-05-31,0 days
8209,1686972,걸음걸이/이동,2021-05-31,허약함,2021-05-31,0 days
8210,1686972,정맥수액요법/헤파린록(heparin lock),2021-05-31,있음,2021-05-31,0 days

In [12]:
### str처리해서 
test_str = fall.copy()
test_str = test_str.astype(str)
test_str['agg'] = test_str['등록번호']+'-'+test_str['도구명']+'-'+test_str['상세내역명']+'-'+test_str['평가일자']+'-'+test_str['낙상발생일시']

In [13]:
fall_history = []
help_list = []
secondary = []
heparin_list = []
mental_list = []
walk_list =[]

format_ = '%Y-%m-%d'

for num, i in enumerate(test_str['등록번호'].tolist()):
       
    ### 낙상경험
    if '지난 3개월간 낙상 경험-없음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        fall_history.append(detail)
    elif '지난 3개월간 낙상 경험-있음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        fall_history.append(detail)
        
    ### 보행보조
    elif '보행보조-보행 불가능(침상안정) 또는 보조기구 없이 보행 가능함' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        help_list.append(detail)
    elif '보행보조-목발/지팡이/보행기 등 보조기구 사용하여 혼자 보행 가능함' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        help_list.append(detail)
    elif '보행보조-혼자 할 수 없음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'2'
        help_list.append(detail)
    
    ### 이차진단    
    elif '이차 진단 (부진단)-없음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        secondary.append(detail)
    elif '이차 진단 (부진단)-있음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        secondary.append(detail)
        
    ### 헤파린
    elif '정맥수액요법/헤파린록(heparin lock)-없음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        heparin_list.append(detail)
    elif '정맥수액요법/헤파린록(heparin lock)-있음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        heparin_list.append(detail)    
    
    ### 약물사용
    # elif  '약물사용-다른 약물 / 해당 없음' in test_str['agg'].tolist()[num]:
    #     detail = test_str['agg'].tolist()[num] +'//'+'0'
    #     drug_history.append(detail)
    # elif  '약물사용-2시간이상 진정제, 수면제, 최면제, 정신안정제, 항불안제, 완화제/이뇨제, 진통제 투여' in test_str['agg'].tolist()[num]:
    #     detail = test_str['agg'].tolist()[num] +'//'+'1'
    #     drug_history.append(detail)
   
    ### 걸음걸이/이동
    elif '걸음걸이/이동-정상/침상안정/부동' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        walk_list.append(detail)
    elif '걸음걸이/이동-허약함' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        walk_list.append(detail)
    elif '걸음걸이/이동-장애가 있음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'2'
        walk_list.append(detail)
        
    ### 의식정신상태
    elif  '의식/정신상태-자신의 기능 수준에 대해 잘 알고 있음' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'0'
        mental_list.append(detail)
    elif '의식/정신상태-자신의 기능수준을 과대평가하거나 잊어버림' in test_str['agg'].tolist()[num]:
        detail = test_str['agg'].tolist()[num] +'//'+'1'
        mental_list.append(detail)
        
    else:
        print(test_str['agg'].tolist()[num])
        

# print(len(new_patient_list))
# print(len(new_date_list))
# print(len(fall_date_list))

print(len(fall_history))
print(len(help_list))
print(len(secondary))
print(len(heparin_list))
print(len(mental_list))
print(len(walk_list))

432783-평가기준-주1회-2018-06-10-2018-06-13
432783-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-06-13-2018-06-13
582033-평가기준-주1회-2018-06-24-2018-06-27
582033-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-08-05-2018-08-05
582346-평가기준-주1회-2018-09-16-2018-09-19
582346-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-09-19-2018-09-19
594574-평가기준-주1회-2019-05-26-2019-05-27
644378-평가기준-주1회-2019-03-10-2019-03-11
644378-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-03-11-2019-03-11
729017-평가기준-주1회-2019-11-10-2019-11-13
729017-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-13-2019-11-13
857126-평가기준-주1회-2017-08-20-2017-08-21
1011953-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2017-08-11-2017-08-11
1331989-평가기준-주1회-2017-09-17-2017-09-19
1361839-평가기준-입원 시-2018-01-12-2018-01-15
1361839-평가기준-주1회-2018-01-14-2018-01-15
1384838-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2017-07-06-2017-07-06
1393198-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2017-07-02-2017-07-02
1393198-평가기준-주1회-2017-07-09-2017-07-10
1418829-보행보조-혼자 할수 없음-2018-01-21-2018-01-23
1418829-평가기준-주1회-2018-01-21-2018-01-23
1418829-보행보조-혼자 할수 없음-2018-01-23-2018-01-23
1418829-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-01-23-2018-01-23
1452761-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-03-15-2018-03-15
1456160-평가기준-주1회-2018-06-24-2018-06-27
1456160-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-06-27-2018-06-27
1471343-평가기준-주1회-2019-01-20-2019-01-21
1471343-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-01-21-2019-01-21
1473114-평가기준-주1회-2017-11-12-2017-11-13
1473114-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2017-11-13-2017-11-13
1474897-평가기준-주1회-2017-07-30-2017-07-30
1477097-평가기준-주1회-2017-12-24-2017-12-24
1500649-평가기준-입원 시-2018-04-05-2018-04-06
357742-평가기준-전입 시-2019-08-01-2019-08-02
357742-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-08-02-2019-08-02
395969-평가기준-전입 시-2018-02-09-2018-02-11
408374-평가기준-주1회-2021-05-23-2021-05-24
408374-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-05-24-2021-05-24
459991-평가기준-주1회-2019-09-22-2019-09-25
459991-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-09-25-2019-09-25
796422-평가기준-주1회-2019-12-22-2019-12-24
796422-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-12-24-2019-12-24
910076-평가기준-주1회-2018-02-11-2018-02-14
910076-평가기준-주1회-2018-02-14-2018-02-14
1195628-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-11-29-2018-11-29
1271083-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-19-2019-11-22
1271083-보행보조-혼자 할수 없음-2019-11-22-2019-11-22
1271083-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-22-2019-11-22
1337438-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-08-17-2019-08-17
1349618-평가기준-입원 시-2021-01-27-2021-01-28
1349618-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-01-28-2021-01-28
1406250-평가기준-입원 시-2019-02-24-2019-02-25
1406250-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-02-25-2019-02-25
1448351-보행보조-혼자 할수 없음-2019-09-01-2019-09-02
1448351-평가기준-입원 시-2019-09-01-2019-09-02
1448351-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-09-02-2019-09-02
1448351-보행보조-혼자 할수 없음-2019-09-02-2019-09-02
1490069-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-04-14-2018-04-14
1516478-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-03-31-2018-04-03
1516478-평가기준-주1회-2018-04-01-2018-04-03
1516478-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-04-03-2018-04-03
1539695-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-11-20-2018-11-20
3055540-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2018-05-17-2018-05-17
122348-평가기준-주1회-2019-06-30-2019-07-02
360023-평가기준-입원 시-2021-08-16-2021-08-17
360023-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-08-17-2021-08-17
1033744-평가기준-입원 시-2019-09-22-2019-09-23
1033744-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-09-23-2019-09-23
1101422-평가기준-입원 시-2019-09-22-2019-09-24
1101422-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-09-24-2019-09-24
1200546-평가기준-입원 시-2019-08-06-2019-08-09
1200546-평가기준-입원 시-2019-08-09-2019-08-09
1334055-평가기준-입원 시-2019-12-01-2019-12-03
1334055-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-12-02-2019-12-03
1339941-평가기준-주1회-2019-07-28-2019-07-31
1339941-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-07-31-2019-07-31
1552387-평가기준-입원 시-2019-07-14-2019-07-15
1552387-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-07-15-2019-07-15
1569668-평가기준-주1회-2019-03-03-2019-03-05
1608859-평가기준-주1회-2019-11-03-2019-11-06
1608859-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-06-2019-11-06
3113082-평가기준-전입 시-2019-11-09-2019-11-12
3113082-평가기준-주1회-2019-11-10-2019-11-12
3113082-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-11-2019-11-12
3113082-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2019-11-12-2019-11-12
239823-평가기준-입원 시-2021-07-04-2021-07-06
594511-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-07-10-2021-07-10
603045-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-02-17-2021-02-17
618405-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-01-31-2021-01-31
860045-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-07-25-2021-07-25
860045-보행보조-혼자 할수 없음-2021-07-25-2021-07-25
1127513-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-06-30-2021-06-30
1127513-보행보조-혼자 할수 없음-2021-06-30-2021-06-30
1254188-평가기준-주1회-2021-03-28-2021-03-29
1254188-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-03-29-2021-03-29
1323071-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-09-04-2021-09-04
1526066-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-09-30-2021-10-03
1526066-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-10-03-2021-10-03
1673617-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-02-07-2021-02-07
1673921-평가기준-입원 시-2021-03-24-2021-03-26
1686651-평가기준-입원 시-2021-05-13-2021-05-16
1686651-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-05-16-2021-05-16
1686972-평가기준-주1회-2021-05-30-2021-05-31
1686972-평가기준-환자상태변화시(수술/침습적 시술 후, 낙상발생 시, 발작, 의식변화 등)-2021-05-31-2021-05-31
97
90
97
97
97
97

In [14]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in fall_history:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
fall_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '낙상이력':adl_detail})
print(fall_df.shape)
fall_df.head()

(97, 4)

     등록번호     낙상발생일시       평가일자 낙상이력
0  432783 2018-06-13 2018-06-10    0
1  432783 2018-06-13 2018-06-13    0
2  582033 2018-06-27 2018-06-24    0
3  582033 2018-08-05 2018-08-05    1
4  582346 2018-09-19 2018-09-16    0

In [15]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in help_list:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
help_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '보행보조':adl_detail})
print(help_df.shape)
help_df.head()

(90, 4)

     등록번호     낙상발생일시       평가일자 보행보조
0  432783 2018-06-13 2018-06-10    0
1  432783 2018-06-13 2018-06-13    0
2  582033 2018-06-27 2018-06-24    1
3  582033 2018-08-05 2018-08-05    1
4  582346 2018-09-19 2018-09-16    1

In [16]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in secondary:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
sec_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '이차진료':adl_detail})
print(sec_df.shape)
sec_df.head()

(97, 4)

     등록번호     낙상발생일시       평가일자 이차진료
0  432783 2018-06-13 2018-06-10    1
1  432783 2018-06-13 2018-06-13    1
2  582033 2018-06-27 2018-06-24    1
3  582033 2018-08-05 2018-08-05    0
4  582346 2018-09-19 2018-09-16    1

In [17]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in heparin_list:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
hep_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '헤파린록':adl_detail})
print(hep_df.shape)
hep_df.head()

(97, 4)

     등록번호     낙상발생일시       평가일자 헤파린록
0  432783 2018-06-13 2018-06-10    1
1  432783 2018-06-13 2018-06-13    1
2  582033 2018-06-27 2018-06-24    1
3  582033 2018-08-05 2018-08-05    1
4  582346 2018-09-19 2018-09-16    1

In [18]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in mental_list:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
ment_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '의식정신상태':adl_detail})
print(ment_df.shape)
ment_df.head()

(97, 4)

     등록번호     낙상발생일시       평가일자 의식정신상태
0  432783 2018-06-13 2018-06-10      0
1  432783 2018-06-13 2018-06-13      1
2  582033 2018-06-27 2018-06-24      0
3  582033 2018-08-05 2018-08-05      1
4  582346 2018-09-19 2018-09-16      0

In [19]:
new_patient_list = []
new_date_list = []
fall_date_list = []
adl_detail = []

for i in walk_list:
    patient = i.split('-')[0]
    y,m,d = i.split('-')[3:6]
    Y,M,D = i.split('-')[6:]
    D_2 = D.split('//')[0]
    adl_ = D.split('//')[-1]
    val_date =  datetime.datetime.strptime(y+'-'+m+'-'+d, format_)
    fall_date = datetime.datetime.strptime(Y+'-'+M+'-'+D_2, format_)
    
    new_patient_list.append(patient)
    new_date_list.append(val_date)
    fall_date_list.append(fall_date)
    adl_detail.append(adl_)
    
walk_df = pd.DataFrame({'등록번호':new_patient_list, '낙상발생일시':fall_date_list, '평가일자':new_date_list, '걸음/의식':adl_detail})
print(walk_df.shape)
walk_df.head()

(97, 4)

     등록번호     낙상발생일시       평가일자 걸음/의식
0  432783 2018-06-13 2018-06-10     0
1  432783 2018-06-13 2018-06-13     0
2  582033 2018-06-27 2018-06-24     1
3  582033 2018-08-05 2018-08-05     1
4  582346 2018-09-19 2018-09-16     1

In [20]:
final_fall = pd.merge(fall_df.drop_duplicates(), help_df.drop_duplicates(), on=['등록번호','낙상발생일시', '평가일자'], how='inner')
print(final_fall.shape)
# final_fall = pd.merge(final_fall,drug_df , on=['등록번호','낙상발생일시', '평가일자'], how='outer')
# print(final_fall.shape)
final_fall = pd.merge(final_fall.drop_duplicates(),sec_df.drop_duplicates() , on=['등록번호','낙상발생일시', '평가일자'], how='inner')
print(final_fall.shape)
final_fall = pd.merge(final_fall.drop_duplicates(),hep_df.drop_duplicates() , on=['등록번호','낙상발생일시', '평가일자'], how='inner')
# print(final_fall.shape)
final_fall = pd.merge(final_fall.drop_duplicates(), ment_df.drop_duplicates() , on=['등록번호','낙상발생일시', '평가일자'], how='inner')
# print(final_fall.shape)
final_fall = pd.merge(final_fall.drop_duplicates(), walk_df.drop_duplicates() , on=['등록번호','낙상발생일시', '평가일자'], how='inner')
# print(final_fall.shape)
# # final_fall = final_fall.fillna('데이터없음')
print(final_fall.shape)

(90, 5)
(90, 6)
(90, 9)

In [21]:
len(final_fall['등록번호'].unique())

56

In [22]:
final_fall['days'] = final_fall['낙상발생일시']-final_fall['평가일자']
final_fall= final_fall.drop_duplicates()
# final_fall = final_fall.astype(int)

In [23]:
final_fall[['낙상이력', '보행보조', '이차진료', '헤파린록','의식정신상태','걸음/의식']] = final_fall[['낙상이력', '보행보조', '이차진료', '헤파린록','의식정신상태','걸음/의식']].astype(int)
final_fall['MFS'] = (final_fall['헤파린록'] * 20) + (final_fall['이차진료'] * 15) +(final_fall['낙상이력']*25) +(final_fall['걸음/의식']*10) + (final_fall['의식정신상태']*15) + (final_fall['보행보조']*15)
final_fall['MFS'].describe()

count     90.000000
mean      58.444444
std       21.155450
min        0.000000
25%       45.000000
50%       60.000000
75%       73.750000
max      100.000000
Name: MFS, dtype: float64

In [24]:
final_fall.head()

,등록번호,낙상발생일시,평가일자,낙상이력,보행보조,이차진료,헤파린록,의식정신상태,걸음/의식,days,MFS
0,432783,2018-06-13,2018-06-10,0,0,1,1,0,0,3 days,35
1,432783,2018-06-13,2018-06-13,0,0,1,1,1,0,0 days,50
2,582033,2018-06-27,2018-06-24,0,1,1,1,0,1,3 days,60
3,582033,2018-08-05,2018-08-05,1,1,0,1,1,1,0 days,85
4,582346,2018-09-19,2018-09-16,0,1,1,1,0,1,3 days,60

In [27]:
final_fall.to_csv('천안_낙상위험도평가_MFS.csv')

In [26]:
final_fall

,등록번호,낙상발생일시,평가일자,낙상이력,보행보조,이차진료,헤파린록,의식정신상태,걸음/의식,days,MFS
0,432783,2018-06-13,2018-06-10,0,0,1,1,0,0,3 days,35
1,432783,2018-06-13,2018-06-13,0,0,1,1,1,0,0 days,50
2,582033,2018-06-27,2018-06-24,0,1,1,1,0,1,3 days,60
3,582033,2018-08-05,2018-08-05,1,1,0,1,1,1,0 days,85
4,582346,2018-09-19,2018-09-16,0,1,1,1,0,1,3 days,60
...,...,...,...,...,...,...,...,...,...,...,...
85,1673921,2021-03-26,2021-03-24,0,0,0,0,0,0,2 days,0
86,1686651,2021-05-16,2021-05-13,0,0,1,1,0,0,3 days,35
87,1686651,2021-05-16,2021-05-16,0,0,1,1,1,1,0 days,60
88,1686972,2021-05-31,2021-05-30,0,1,1,1,1,1,1 days,75
89,1686972,2021-05-31,2021-05-31,0,1,1,1,1,1,0 days,75